<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        
    </h1>

    <ul>
       <% for(let i = 0 ; i < addedItems.length ; i++) {%>
        <li><%= addedItems[i]  %></li>
    <% }%>
    </ul>
    <form action="/submit" method="post">
        <input type="text" name="newItem">
        <button type="submit"> + </button>
    </form> 
</body>
</html>